{
  "email": {{ rbw_email | to_json }},
  "sso_id": null,
  "base_url": {{ rbw_base_url | to_json }},
  "identity_url": null,
  "ui_url": null,
  "notifications_url": null,
  "lock_timeout": {{ rbw_lock_timeout | int }},
  "sync_interval": {{ rbw_sync_interval | int }},
  "pinentry": {{ rbw_pinentry | to_json }},
  "client_cert_path": {{ rbw_client_cert_path | default(none) | to_json }}
}
